/* Estilo de la aplicación de reactJS */
.App {
  height: 100vh;
  padding-top: 10px;
  background-color: #1b1b32;
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap; 
  /* not elements in the same line, readjusting depending upon size */
  justify-content: center;
  align-items: center;
  /* center the elements wihin App */
}

.fcc-logo-div {
  width: 100%;
  height: 50px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-fcc {
  height: 40px;
}

.div-calculator {
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: goldenrod;
  border-radius: 30px;
  border: 5px solid green;
}

.row {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* align elements in the center, alignItems & justifyContent */
}
/* rows of the calculator, each div */


